<!--<table-->
<!--  mat-table-->
<!--  [dataSource]="dataSource"-->
<!--  matSort-->
<!--  matPaginator-->
<!--  class="mui-table"-->
<!--&gt;-->
<!--  &lt;!&ndash; Type Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="type">-->
<!--    <th-->
<!--      mat-header-cell-->
<!--      *matHeaderCellDef-->
<!--      mat-sort-header-->
<!--      class="mui-header-cell"-->
<!--    >-->
<!--      Type-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let profile" class="mui-cell">-->
<!--      {{ profile.type }}-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="name">-->
<!--    <th-->
<!--      mat-header-cell-->
<!--      *matHeaderCellDef-->
<!--      mat-sort-header-->
<!--      class="mui-header-cell"-->
<!--    >-->
<!--      Name-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let profile" class="mui-cell">-->
<!--      {{ profile.name }}-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Status Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="status">-->
<!--    <th-->
<!--      mat-header-cell-->
<!--      *matHeaderCellDef-->
<!--      mat-sort-header-->
<!--      class="mui-header-cell"-->
<!--    >-->
<!--      Status-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let profile" class="mui-cell">-->
<!--      {{ profile.status }}-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Actions Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="actions">-->
<!--    <th mat-header-cell *matHeaderCellDef class="mui-header-cell">Actions</th>-->
<!--    <td mat-cell *matCellDef="let profile" class="mui-cell">-->
<!--      <button-->
<!--        (click)="detailsProfile(profile.name)"-->
<!--        mat-button-->
<!--        color="primary"-->
<!--        style="margin-right: 10px"-->
<!--      >-->
<!--        Details-->
<!--      </button>-->
<!--      <button-->
<!--        *ngIf="isAllowed(EOperationType.MODIFY)"-->
<!--        (click)="modifyProfile(profile.name)"-->
<!--        mat-button-->
<!--        color="primary"-->
<!--        style="margin-right: 10px"-->
<!--        [disabled]="profile.status === 'REMOVED'"-->
<!--      >-->
<!--        Modify-->
<!--      </button>-->
<!--      <button-->
<!--        *ngIf="isAllowed(EOperationType.REMOVE)"-->
<!--        (click)="removeProfile(profile.name)"-->
<!--        mat-button-->
<!--        color="warn"-->
<!--        style="margin-right: 10px"-->
<!--        [disabled]="profile.status === 'REMOVED'"-->
<!--      >-->
<!--        Remove-->
<!--      </button>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Header row &ndash;&gt;-->
<!--  <tr-->
<!--    mat-header-row-->
<!--    *matHeaderRowDef="displayedColumns; sticky: true"-->
<!--    class="mui-header-row"-->
<!--  ></tr>-->
<!--  &lt;!&ndash; Data rows &ndash;&gt;-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>-->
<!--</table>-->
