.assessmentChartContainer {
  font-family: RobotoDraft, Roboto, "Helvetica Neue, Helvetica, Arial", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 320;

  //[element][ng-reflect-label="Feeling"] {
  //  transform: translateY(50px);
  //}
}
