@import "../../../../../assets/variables";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  //min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  background: #e3e3e3;
  box-shadow: $box-shadow-xl;
  border-radius: 8px;
}

.titles-wrapper {
  margin-top: 11px;
  margin-bottom: 0;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  width: 100%;
  text-align: center;


  a {
    display: block;
    margin-top: 8px;
  }
}

.input-box-wrapper {
  position: relative;
  width: 250px;
}
