.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header-container {
  width: 100%;
}

.under-header-wrapper {
  flex-grow: 1;
  overflow-y: auto; // adds scroll if content overflows vertically

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 1vw;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &.shown {
      opacity: 1;
    }
  }

  .router-wrapper {
    //flex: 1;
    //min-width: 70%;
    //min-height: 100%;
    position: absolute;
    top: 24vh;
    left: 15vw;
    right: 15vw;
    //width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details-wrapper {
    min-width: 15%;
    min-height: 1px;
  }
}
