<div class="assessment-add-container">

  <app-assessment-add-form></app-assessment-add-form>

<!--  <form (submit)="onFileUpload()">-->
<!--    <div class = "assessment-add-form-input-container">-->
<!--      <input type="file" class="menuButton" (change)="onFileSelected($event)" />-->
<!--      <input type="file" class="menuButton" (change)="onFileSelected($event)" />-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <button type="submit" class="menuButton">Upload</button>-->
<!--  </form>-->

</div>
